/* WEB-ORRI GUZTIAREN ATSEALDEAN */
html,
body {
    background-color: #f9f4f1;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    display: flex;
    flex-direction: column;
}

/* HEADER-REN DAUDEN GAUZAK */

header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-width: 100%;
    align-self: center;
}

.logoa {
    margin-top: 20px;
    width: 200px;
}


nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: min-content;
    background-color: #871521;
    border-radius: 5px;
    padding: 0 30px;
    font-weight: bolder;

}

@media (min-width: 800px) {}

nav .menuBotoia {
    color: #f9f4f1;
    padding: 3px 40px;
    transform: scale(1);
    transition: all 0.2s ease;
    display: inline-block;
    text-decoration: none;

}

nav .menuBotoia:hover a {
    color: #871521;
}

nav .menuBotoia:hover {
    background-color: #f9f4f1;
    color: #871521;
    transform: scale(1.10);
}

/* HASIERAN DAUDEN GAUZAK */
.hasiera,
.gaurkoBerriak {
    align-self: center;
    margin: 15px
}


.hasierakoTitulua {
    color: #871521;
    text-align: center;
    font-weight: bold;
}

.hasieraArtikulo {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 90%;
    margin: 20px auto;
}

.hasieraArtikulo>div:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
}

.partidarikOnena {
    flex: 1;
    margin: 10px;
    border: solid 2px #871521;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    align-self: center;
    padding-bottom: 40px;
}

.partidarikOnenaEmaitza {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #871521;
    gap: 15px;
    margin: 10px 0;
    width: fit-content;
}

.partidarikOnenaEmaitza p {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    line-height: 1;
    white-space: nowrap;
}

.partidarikOnenaEmaitza a {
    margin: 15px;
}

.partidarikOnenaEskutuak {
    width: 80px;
    height: auto;
    object-fit: contain;
}

.partidarikOnenaUbi {
    text-decoration: none;
    color: #871521;
    font-weight: bold;
}

.partidarikOnenaBideoa {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    display: block;
}

.gaurkoBerriak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.gaurkoBerriakBakoitza {
    color: #871521;
    width: 100%;
    margin: 0;
}

.taldeFlex {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(20px, 5vw, 40px);
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.articleTaldeak {
    flex: 0 0 100%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 20px;
}


/* Audioko kontrolen kolorea */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: #f9f4f1;
}


.cardBisuala {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f4f1;


}

.cardBisuala h3 {
    font-weight: bolder;
    color: #871521;
}

.taldeaBotoia {
    background-color: #871521;
    color: #f9f4f1;
}

.eskutu-kontainer {
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
}

.eskutu-kontainer img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

footer {
    display: flex;
    background-color: #871521;
    color: #f9f4f1;
    justify-content: center;
    flex-wrap: wrap;
}

.kontaktua {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin: 10px;
}

.kontaktua a {
    text-decoration: none;
}

.links a.icono {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease, background-image 0.2s ease;
}

.links a.instagram {
    background-image: url("../irudiak/InstaCrema.png");
    border: #871521 solid 1px;
    border-radius: 17px;
}

.links a.youtube {
    background-image: url("../irudiak/YoutubeCrema.png");
    border: #871521 solid 1px;
    border-radius: 17px;
}

.links a.tiktok {
    background-image: url("../irudiak/TikTokCrema.png");
    border: #871521 solid 1px;
    border-radius: 17px;
}

.links a.instagram:hover {
    background-image: url("../irudiak/InstaCrema.png");
    border: #871521 solid 1px;
    border-radius: 17px;
}

.links a.youtube:hover {
    background-image: url("../irudiak/YoutubeCrema.png");
    border: #871521 solid 1px;
    border-radius: 17px;
}

.links a.tiktok:hover {
    background-image: url("../irudiak/TikTokCrema.png");
    border: #871521 solid 1px;
    border-radius: 17px;
}

.links {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 10px;

}

.berriakMultzoa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.berriakBakoitza {
    margin: 15px 5px;
    padding: 10px;
}

.jardunaldiakh2 {
    color: #871521;
    text-align: center;
    font-weight: bold;
}

@media (min-width: 800px) {
    nav {
        max-width: max-content;
        padding: 0px;
        border-radius: 10px;
        transition: all 0.2s ease;
    }

    .articleTaldeak {
        flex: 0 0 calc(33.333% - 45px);
        margin-bottom: 0;
    }

    .logoa {
        width: 500px;

    }

    .eskutu-kontainer {
        height: 200px;
    }

    .kontaktua {
        gap: 20px;
    }

    .hasieraArtikulo {
        max-width: 95%;
        width: 100%;
        flex-wrap: nowrap;
        width: fit-content;
        gap: 20px;
    }

    .gaurkoBerriakMultzoa {
        display: flex;
        max-width: 1238.400px;
        gap: 10px;
        text-align: center;
    }

    .partidarikOnenaEskutuak {
        width: 100px;
    }

    .partidarikOnenaEmaitza p {
        font-size: 3.5rem;
    }

    .partidarikOnena {
        margin: 10px;
        padding: 15px 15px 40px 15px;
    }

    .berriakBakoitza {
        width: 28%;
    }

    .links a.icono {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease, background-image 0.2s ease;
    }

    .links a.instagram {
        background-image: url("../irudiak/Instagramgranate.png");
        border: #f9f4f1 solid 1px;
        border-radius: 17px;
    }

    .links a.youtube {
        background-image: url("../irudiak/Youtubegranate.png");
        border: #f9f4f1 solid 1px;
        border-radius: 17px;
    }

    .links a.tiktok {
        background-image: url("../irudiak/TiktokGranate.png");
        border: #f9f4f1 solid 1px;
        border-radius: 17px;
    }

    .links {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 10px;
        padding: 5px;
    }

    footer {
        justify-content: space-between;
    }
}

.Sailkapena {
    display: flex;
    flex-direction: column;
    color: #871521;
    width: 90%;
    align-self: center;
    margin: 20%;
    margin: 2cqmax;
}

.Sailkapena h2 {
    font-weight: bold;
    margin-left: 5%;
}

.Sailkapena img {
    width: 60%;
    margin-right: 40%;
    max-width: 250px;
}

.sailkapenaTabla {
    font-size: 150%;
    border-collapse: collapse;
    margin-left: 5%;
    width: 90%;
    font-family: Arial;
    align-self: center;
}

.sailkapenaTabla thead {
    font-weight: bold;
    border-bottom: #871521 solid 3px;
    text-align: center;
    font-size: 80%;
    width: 100%;
}

.sailkapenaTabla th {
    width: 10%;
}

.sailkapenaTabla tr {
    border-bottom: #868283 solid 1px;
    text-align: center;
    justify-content: center;
    font-size: 80%;
}

.sailkapenaTabla td {
    width: 10%;
}

.posisioa {
    font-weight: bold;
}

.posisioa h1 {
    text-align: center;
    width: 80%;
}

.sailkapen_talde {
    display: flex;
    flex-direction: column;
    font-size: 80%;
}